<nav>
    <ul class="container nav__product">
        <li
            <% if (subpages === 'optical') { %>
                class="showCurrent"
            <% } %>
        ><a href="product.html">OPTICAL</a></li>
        <li
            <% if (subpages === 'sunglasses') { %>
                class="showCurrent"
            <% } %>
        ><a href="product2.html" class="">SUNGLASSES</a></li>
        <li
            <% if (subpages === 'functional') { %>
                class="showCurrent"
            <% } %>
        ><a href="#" class="">FUNCTIONAL</a></li>
    </ul>
</nav>