<nav class="nav__main">
    <div class="nav__main__wrap container container-sm">
        <a href="./index.html" class="logo linkImg">
            <img src="./assets/images/logo-white.png" alt="logo">
        </a>
        <ul>
            <li><a href="./product.html" class="linkText">系列鏡框</a></li>
            <li><a href="#" class="linkText">門市據點</a></li>
            <li><a href="#" class="linkText">部落格</a></li>
            <li><a href="#" class="linkText">常見問題</a></li>
        </ul>
    </div>
</nav>