<nav aria-label="product page navigation" class="container pagination">
    <ul>
      <li><a class="page-control" href="#">上一頁</a></li>
      <li><a class="page-link" href="#">1</a></li>
      <li class="active"><a class="page-link" href="#">2</a></li>
      <li><a class="page-link" href="#">3</a></li>
      <li><a class="page-link" href="#">4</a></li>
      <li><a class="page-link" href="#">5</a></li>
      <li><a class="page-control" href="#">下一頁</a></li>
    </ul>
  </nav>