*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}