*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.container {
    max-width: 82.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0 auto;

    @include media-md() {
        max-width: 45rem;
    }

    @include media-sm() {
        max-width: 23.25rem;
    }
}

.container-sm {
    @include media-sm {
        max-width: 100%;
    }
}