@mixin media-md {
    @media (max-width: 992px) {
        @content
    };
};

@mixin media-sm {
    @media (max-width: 767px) {
        @content
    };
};

@mixin flexbox($justify, $align) {
    display: flex;
    flex-wrap: wrap;

    @if $justify !='' {
        @if $justify =='c' {
            justify-content: center;
        };
        @if $justify=='fe' {
            justify-content: flex-end;
        };
        @if $justify=='sb' {
            justify-content: space-between;
        };
    };

    @if $align !='' {
        @if $align =='c' {
            align-items: center;
        };
        @if $align=='fe' {
            align-items:  flex-end;
        };
    };
};