@import url("https://fonts.google.com/specimen/Roboto?query=roboto");
@import url("https://fonts.google.com/noto/specimen/Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/*color*/
$black:#000000;
$white:#FFFFFF;
$red-100:#FBF2F2;
$red-400:#AA0601;
$red-700:#650300;
$gray-700:#707070;
$gray-100: #DCDCDC;

/*font-settings*/
$font-size-base: 16px;
$line-height-base: 1.5;