.nav__main {
    background-color: $red-400;

    .logo {
        max-width: 5rem;
    }

    .linkText {
        color: $white;
    }

    &__wrap {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;
        @include flexbox('sb', 'c');

        ul {
            @include flexbox('', 'fe');

            li {
                margin-left: 4rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include media-md {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        @include media-sm {
            padding: 0;
            font-size: 1rem;
            justify-content: center;

            .logo {
                padding: 0.75rem 0;
            }

            ul {
                width: 100%;

                li {
                    width: 50%;
                    text-align: center;
                    margin: 0;
                    padding: 0.75rem 0;
                    border: 1px solid $white;
                }
            }
        }
    }
}

.nav__product {
    @include flexbox('', '');

    li {
        width: 33.33%;
        text-align: center;
        font-weight: 500;
        border: 1px solid $gray-100;
    }

    a {
        display: block;
        color: $black;
        font-size: 2rem;
        padding: 1.5rem 0;

        &:hover{
            background-color: $gray-300;
        }
    }

    .showCurrent {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.5rem;
            bottom: 0;
            left: 0;
            background-color: $red-400;
        }
    }

    @include media-md{
        a{
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }

    @include media-sm{
        a{
            font-size: 1rem;
        }
    }
}

.nav__footer {
    @include flexbox('sb', 'c');
    padding: 0.75rem 0;
    margin-bottom: 1.5rem;

    li {
        margin-right: 3rem;
    }

    @include media-md {
        padding: 0.5rem 0;
    }

    @include media-sm {
        display: none;
    }
}

.pagination {
    margin-bottom: 5rem;

    ul {
        @include flexbox('c', '');

        li {
            border: 1px solid $gray-700;

            &:last-child {
                background-color: $gray-100;
            }
        }
    }

    .page-control {
        color: $gray-700;
        font-size: 1.1875rem;
        padding: 0.6875rem 0.75rem;
    }

    .page-link {
        color: $gray-700;
        font-size: 1.1875rem;
        padding: 0.75rem 1rem;

        &:hover{
            background-color: $gray-300;
        }
    }

    .active {
        background-color: $black;
        border: 1px solid $black;

        .page-link {
            color: $white;
        }
    }
    
    @include media-sm{
        margin-bottom: 4rem;

        .page-control{
            font-size: 1rem;
        }

        .page-link {
            font-size: 1rem;
            padding: 0.75rem 0.875rem;
        }
    }
}