.header-product {
    margin-bottom: 5rem;

    ul {
        @include flexbox('', '');

        li {
            width: 50%;

            &:nth-child(even) {
                display: none;
            }
        }

        img {
            width: 100%;
        }
    }

    @include media-md {
        ul {
            li {
                &:nth-child(even) {
                    display: block;
                }

                &:nth-child(odd) {
                    display: none;
                }
            }
        }
    }
}

.h1-product {
    font-size: 2.625rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;

    span {
        display: block;
        font-size: 2rem;
    }
}

.productList {
    @include flexbox('sb', '');

    @include media-md {
        margin-bottom: 2.5rem;
    }
}

.productCard {
    width: calc((100% - 72px) / 4);
    margin-bottom: 5rem;

    &-content {
        @include flexbox('sb', '');
        font-size: 1.5rem;

        p {
            font-size: 500;
            color: $red-400;
        }
    }

    @include media-md {
        width: calc((100% - 24px) / 2);
        margin-bottom: 2.5rem;

        &:nth-child(n+11):nth-child(-n+12){
            display: none;
        }
    }

    @include media-sm {
        width: 100%;
        margin-bottom: 1.5rem;

        &:nth-child(n+6):nth-child(-n+12){
            display: none;
        }
    }
}

.palette {
    @include flexbox('', '');
    width: 100%;
}

.paletteCard {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;

    &-5F3E2D {
        @extend .paletteCard;
        background-color: #5F3E2D;
    }

    &-B75929 {
        @extend .paletteCard;
        background-color: #B75929;
    }
}